<!DOCTYPE html>
<html>
    <head>
    <style>
        :root {
            --bg: #FFFFFF;
            --fg: #000000;
            --ln: #0f0ff0;
            --ls: #a00ff0;
        }
        .dark {
            --bg: #0a0a0a;
            --fg: #FFFFFF;
            --ln: #a0a0f0;
            --ls: #f0aff0;
        }
        body {
            background-color: var(--bg);
            color: var(--fg);
        }
        a {
            color: var(--ln);
        }
        .seen {
            color: var(--ls);
        }
        td {
            padding-right: 5em;
        }
    </style>
    </head>
    <body>
        <h1>/{{ path }}</h1>
        {% if readme %}
        <hr>
        {{ readme }}
        {% endif %}
        <hr>
        <pre><table>
            {% if path %}
            <tr>
            {#
                HTML is a bit weird, apparently to go up one level you
                use href ./ EXCEPT when you want to go back to root,
                which you use / for. Using ./ to go up to root doesn't work
                for some reason.
            #}
            {% if '/' in path.strip('/') %}
            <td><a href="./">../</a></td>
            {% else %}
            <td><a href="{{ base_url }}">../</a></td>
            {% endif %}
            <td>-</td>
            <td>-</td>
            <td>-</td>
            </tr>
            {% endif %}
            {% for file in files if not file.name == 'README.md' %}
            <tr>
            {% if file.ext.lower() in VIDEOEXTS %}
            <td><a id="{{ safe_join(url, file.name) }}" href="{{ safe_join(url, file.name) }}/m3u8">{{ file.name }}</a></td>
            <td>[<a id="{{ safe_join(url, file.name) }}/seen" onclick="seen(this)" style="cursor:pointer;text-decoration:underline;">✘</a>, <a href="{{ safe_join(url, file.name) }}/play">▶</a>, <a href="{{ safe_join(url, file.name) }}">DL</a>]</td>
            {% else %}
            <td><a href="{{ safe_join(url, file.name) }}">{{ file.name }}{% if file.isdir %}/{% endif %}</a></td>
            <td>-</td>
            {% endif %}
            <td>{{ file.lastmodified }}</td>
            <td>{% if file.isdir %}-{% else %}{{ file.size }}{% endif %}</td>
            </tr>
            {% endfor %}
        </table></pre>
        <hr>
        <pre>[<a href="{{ base_url }}">Root</a>] [<a id="lightswitch" href="#"></a>] [<a href="https://github.com/Fam0r/VideoIndex">Repo</a>]</pre>
        <script>
            var icon = ["☾", "☀"];
            var dark = (localStorage.getItem('dark') === 'true');
            var seenList = (localStorage.getItem('seen') || '').split(';').filter(Boolean);

            function lightswitch() {
                dark = !dark;
                document.body.classList.toggle("dark");
                document.getElementById('lightswitch').textContent = icon[dark | 0];
                localStorage.setItem('dark', dark);
            }

            function seen(el) {
                var baseid = el.id.substring(0, el.id.lastIndexOf('/'));
                var i = seenList.indexOf(baseid);
                if (i !== -1) {
                    seenList.splice(i, 1);
                    document.getElementById(baseid).classList.value = '';
                    el.textContent = '✘';
                } else {
                    seenList.push(baseid);
                    document.getElementById(baseid).classList.value = 'seen';
                    el.textContent = '✓';
                }

                localStorage.setItem('seen', seenList.join(';'));
            }

            if (dark) document.body.classList.value = 'dark';
            document.getElementById('lightswitch').textContent = icon[dark | 0];
            document.getElementById('lightswitch').addEventListener("click", lightswitch);

            seenList.forEach(n => {
                if (document.getElementById(n) === null) return;
                document.getElementById(n).classList.value = 'seen';
                document.getElementById(n+'/seen').textContent = '✓';
            });
        </script>
    </body>
</html>
